<!DOCTYPE HTML>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Real Time Democracy</title>
	<meta name="description" content="Real Time Demcracy">
	<meta name="author" content="CS361 ">

	<link rel="stylesheet" href="style.css">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<section id="main">

		<header id="header">
			<a>Real Time Democracy</a>
			<form action="/logout" method="post">
				<input id="form-submit" type="submit" value="Logout">
			</form>
		
		</header>

		<section>

			<h1>Welcome, {{username}}!</h1>

			<!-- Loop will go here, for the time being I'm just going to render the same thing 3 times -->
      
      {{#each issue}}
        {{{this}}}
      {{/each}}
			<article class="issue">
				<h3>{{issue_title}}</h3>
				<p>
					{{issue_description}}
				</p>
			</article>

			<article class="issue">
				<h3>{{issue_title}}</h3>
				<p>
					{{issue_description}}
				</p>
			</article>

			<article class="issue">
				<h3>{{issue_title}}</h3>
				<p>
					{{issue_description}}
				</p>
			</article>

		</section>

		<footer id="footer">
			Real Time Democracy ® 2016
		</footer>
	</section>
</body>
</html>
